:root .highlight pre { background-color: #2a2a2e }
:root .highlight .hll { background-color: #2a2a2e }
:root .highlight .c { color: #999999; font-style: italic } /* Comment */
:root .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
:root .highlight .g { color: #d0d0d0 } /* Generic */
:root .highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
:root .highlight .l { color: #d0d0d0 } /* Literal */
:root .highlight .n { color: #d0d0d0 } /* Name */
:root .highlight .o { color: #d0d0d0 } /* Operator */
:root .highlight .x { color: #d0d0d0 } /* Other */
:root .highlight .p { color: #d0d0d0 } /* Punctuation */
:root .highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
:root .highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
:root .highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
:root .highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
:root .highlight .gd { color: #d22323 } /* Generic.Deleted */
:root .highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
:root .highlight .gr { color: #d22323 } /* Generic.Error */
:root .highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
:root .highlight .gi { color: #589819 } /* Generic.Inserted */
:root .highlight .go { color: #cccccc } /* Generic.Output */
:root .highlight .gp { color: #aaaaaa } /* Generic.Prompt */
:root .highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
:root .highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
:root .highlight .gt { color: #d22323 } /* Generic.Traceback */
:root .highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
:root .highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
:root .highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
:root .highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
:root .highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
:root .highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
:root .highlight .ld { color: #d0d0d0 } /* Literal.Date */
:root .highlight .m { color: #7fb1d7 } /* Literal.Number */
:root .highlight .s { color: #ed9d13 } /* Literal.String */
:root .highlight .na { color: #bbbbbb; } /* Name.Attribute */
:root .highlight .nb { color: #29a5b3; } /* Name.Builtin */
:root .highlight .nc { color: #6494d8;} /* Name.Class */
:root .highlight .no { color: #40ffff; } /* Name.Constant */
:root .highlight .nd { color: #ffa500; } /* Name.Decorator */
:root .highlight .ni { color: #d0d0d0; } /* Name.Entity */
:root .highlight .ne { color: #bbbbbb; } /* Name.Exception */
:root .highlight .nf { color: #6494d8; } /* Name.Function */
:root .highlight .fm { color: #6494d8; } /* Name.Function.Magic */
:root .highlight .nl { color: #d0d0d0; } /* Name.Label */
:root .highlight .nn { color: #6494d8;} /* Name.Namespace */
:root .highlight .nx { color: #d0d0d0; } /* Name.Other */
:root .highlight .py { color: #d0d0d0; } /* Name.Property */
:root .highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
:root .highlight .nv { color: #40ffff; } /* Name.Variable */
:root .highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
:root .highlight .w  { color: #666666; } /* Text.Whitespace */
:root .highlight .mf { color: #7fb1d7; } /* Literal.Number.Float */
:root .highlight .mh { color: #7fb1d7; } /* Literal.Number.Hex */
:root .highlight .mi { color: #7fb1d7; } /* Literal.Number.Integer */
:root .highlight .mo { color: #7fb1d7; } /* Literal.Number.Oct */
:root .highlight .sb { color: #ed9d13; } /* Literal.String.Backtick */
:root .highlight .sc { color: #ed9d13; } /* Literal.String.Char */
:root .highlight .sd { color: #ed9d13; } /* Literal.String.Doc */
:root .highlight .s2 { color: #ed9d13; } /* Literal.String.Double */
:root .highlight .se { color: #ed9d13; } /* Literal.String.Escape */
:root .highlight .sh { color: #ed9d13; } /* Literal.String.Heredoc */
:root .highlight .si { color: #ed9d13; } /* Literal.String.Interpol */
:root .highlight .sx { color: #ffa500; } /* Literal.String.Other */
:root .highlight .sr { color: #ed9d13; } /* Literal.String.Regex */
:root .highlight .s1 { color: #ed9d13; } /* Literal.String.Single */
:root .highlight .ss { color: #ed9d13; } /* Literal.String.Symbol */
:root .highlight .bp { color: #29a5b3; } /* Name.Builtin.Pseudo */
:root .highlight .vc { color: #40ffff; } /* Name.Variable.Class */
:root .highlight .vg { color: #40ffff; } /* Name.Variable.Global */
:root .highlight .vi { color: #40ffff; } /* Name.Variable.Instance */
:root .highlight .il { color: #7fb1d7; } /* Literal.Number.Integer.Long */
